*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/app/build.gradle
FacciamoCome-production-release-2.4.5-unaligned.apk
FacciamoCome-production-release-2.4.6-unaligned.apk
FacciamoCome-production-release-2.4.7-unaligned.apk

